@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --primary-color: #30336b;
  --secondary-color: #be2edd;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: red;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 130%;
  position: relative;
  padding: 2.5rem 1rem;
  text-align: center;
}

.container {
  padding: .75rem;
  margin: 0 auto;
  max-width: 100%;
  width: 50rem;
}