@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --primary-color: #30336b;
  --secondary-color: #be2edd;
  --secondary-color-hover: #8400A5;
  --list-border-color: rgba(200, 200, 200, 0.1);
  --second-list-border-color: #e6e6e6;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif !important;
  margin: 0 !important;
  transition: transform 0.3s ease;
}

body.show-nav {
  /* Width of nav */
  transform: translateX(13.5rem);
}

h2 {
  margin-bottom: 2rem !important;
  text-align: center;
}

.custom-btn {
  padding: 12px 30px;
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 0.5rem;
}

.custom-btn:hover {
  background-color: #fa6Dff;
  border: 1px solid var(--secondary-color-hover);
}

.feelingWheelLink {
  color: var(--secondary-color);
}

.feelingWheelLink:hover {
  color: var(--secondary-color-hover);
  cursor: pointer;
}

/* Header */
header {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 100%;
  position: relative;
  padding: 2.5rem 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.userBtns {
  display: flex;
  justify-content: space-evenly;
}

.toggle {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
}

/* Navbar */
nav {
  background-color: var(--primary-color);
  border-right: 2px solid var(--list-border-color);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 13.5rem;
  height: 100%;
  z-index: 100;
  transform: translateX(-100%);
}

nav .logo {
  padding: 1rem 0;
  text-align: center;
}

nav .logo img {
  margin: .5rem 0;
  height: 7em;
  width: 7rem;
  border-radius: 50%;
}

nav ul,
ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  border-bottom: 2px solid var(--list-border-color);
  padding: 20px;
}

li {
  border-bottom: 2px solid var(--second-list-border-color);
  padding: 12px;
}

.single-list li:first-child {
  border-top: 2px solid var(--second-list-border-color);
}

nav ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

nav ul li:first-of-type,
li:first-of-type {
  border-top: 2px solid var(--list-border-color);
}

/* Home */
.home .home-div:last-child h3 {
  padding-bottom: 6px;
}

.home h3 {
  padding-bottom: .25rem;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.home-div {
  padding-bottom: 0.25rem;
}

.homeLi li {
  list-style-type: disc;
  margin-left: 1rem;
}

/* Reducing The Tension */
.reducingTheTension {
  height: 100vh;
  text-align: center;
}

.reducingTheTension p {
  margin-bottom: 2rem;
}

/* Calm Breathing */
.calmBreathing {
  font-weight: bold;
  height: 100vh;
}

.calmBreathing h2 {
  margin-bottom: 0.5rem !important;
}

.calmBreathing h5 {
  margin-top: 0 !important;
  margin-bottom: 2rem !important;
  text-transform: uppercase;
  text-align: center;
}

.calmBreathing .instructions {
  text-decoration: underline;
}

.iframe {
  border: 4px solid rgb(118, 118, 118);
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
}

.push {
  height: 2rem;
}

/* Muscle Relaxation Guide */
.nestedLi li {
  border: none !important;
  padding: 0;
  list-style-type: circle;
}

/* Body Scan */
.bodyScan {
  height: 100vh;
}

/* Daily Relaxation Log */
.dailyRelaxationLog {
  height: 100vh;
}

.radios {
  display: flex;
  justify-content: space-between;
}

h5 {
  margin: 1rem 0;
}

.whatWentWellToday li {
  border: none !important;
}

.feeling {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.feeling input {
  border-radius: 5px;
  padding: .5rem;
  border: 1px solid rgb(118, 118, 118);
}

textarea {
  width: 100%;
  border-radius: 5px;
  padding: .5rem;
  vertical-align: middle;
}

textarea:focus,
input:focus {
  outline: none;
}

/* Feeling Wheel */
.feelingWheel {
  height: 100vh;
  text-align: center;
}

.feelingWheel h2 {
  margin-bottom: 4px !important;
}

.feelingWheel p {
  margin: 4px;
}

.feelingWheel-img {
  width: 100%;
}

/* Relaxation Journal */
.relaxationJournal {
  height: 100vh;
}

.Jradios {
  display: flex;
  justify-content: space-between;
  margin: 1.25rem 0;
}

.accordian {
  border-bottom: 2px solid var(--list-border-color);
}

.JwhatWentWellToday {
  margin-top: 4px;
}

/* loginModal */
.modal-header {
  background: var(--primary-color);
  color: #fff;
  padding: 15px;
}

.modal-title {
  margin: 0;
  border-bottom: 1px solid #333;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}