@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --primary-color: #30336b;
  --secondary-color: #be2edd;
  --list-border-color: rgba(200, 200, 200, 0.1);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif !important;
  margin: 0 !important;
  transition: transform 0.3s ease;
  /* background: red !important; */
}

body.show-nav {
  /* Width of nav */
  transform: translateX(13.5rem);
}

header {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 130%;
  position: relative;
  padding: 2.5rem 1rem;
  text-align: center;
}

.toggle {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
}

.containerJ {
  padding: .75rem;
  margin: 0 auto;
  max-width: 100%;
  width: 50rem;
}

nav {
  background-color: var(--primary-color);
  border-right: 2px solid var(--list-border-color);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 13.5rem;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
}

nav .logo {
  padding: 1.875rem 0;
  text-align: center;
}

nav .logo img {
  height: 4.6875rem;
  width: 4.6875rem;
  border-radius: 50%;
}

nav ul,
ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav ul li,
li {
  border-bottom: 2px solid var(--list-border-color);
  padding: 20px;
}

nav ul li:hover,
.feelingWheelLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

nav ul li:first-of-type,
li:first-of-type {
  border-top: 2px solid var(--list-border-color);
}

.page {
  margin: 0 auto;
}

.page h2 {
  text-align: center;
  padding: 1rem 0;
}

/* Home */
.homeLi li {
  list-style-type: disc;
  margin-left: 20px;
}

/* Reducing The Tension */
.reducingTheTension {
  text-align: center;
}

/* Calm Breathing */
.calmBreathing {
  font-weight: bold;
}

.calmBreathing .instructions {
  text-decoration: underline;
}

/* Muscle Relaxation Guide */
.nestedLi li {
  border: none;
  padding: 0;
  list-style-type: circle;
}

/* Body Scan */
.feelingWheelLink {
  color: var(--secondary-color);
}

/* Feeling Wheel */
.feelingWheel {
  height: 72vh;
  background-image: url("../images/Feelings+Wheel+WIP.png");
  background-position: top;
  background-size: 93%;
  background-repeat: no-repeat;
  text-align: center;
  color: #777;
  padding-top: 5px;
}

/* Daily Relaxation Log */
.radios {
  display: flex;
  justify-content: space-between;
}

h5 {
  margin: 1rem 0;
}

.whatWentWellToday li {
  border: none;
}

textarea {
  width: 100%;
}

.feeling {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.feeling input {
  border-radius: 5px;
  padding: .25rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addEntry {
  padding: 12px 30px;
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 2rem;
}

/* Relaxation Journal */

.Jradios {
  display: flex;
  justify-content: space-between;
}

.accordian {
  border-bottom: 2px solid var(--list-border-color);
}

/* .JwhatWentWellToday li {
  border: none;
  padding: 0;
} */